{% extends 'base.html' %}

{% block title %}
    Book Service
{% endblock %}

{% block content %}
<section id="booking">
    <h2>Create a Booking for {{ service.name }}</h2>
    <p>Have me speak at your event for {{ service.price }} USD</p>

    <form method="post" action="{% url 'create_booking' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Book Now</button>
    </form>
</section>

<script>
    document.getElementById('id_date').setAttribute('min', new Date().toISOString().split('T')[0]);
</script>
{% endblock %}
