{% extends 'base.html' %}

{% block title %}
    Book Service
{% endblock %}

{% block content %}
<section id="booking">
    <h2>Create a Booking {{ service.name }}</h2>
    <p>Have me speak at your event for {{ service.price }} USD</p>
    <label for="date">Booking Date:</label>
    <input type="date" id="date" name="date" required>
    <script>
        document.getElementById('date').setAttribute('min', new Date().toISOString().split('T')[0]);
    </script>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Book Now</button>
    </form>
</section>
{% endblock %}
